<html>
    <head>
        <title>Midterm Login</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <form>
                <label for="UN">Username</label>
                <input type="text" id ="UN" name="FN"><br>
                <label for="PW">Password</label>
                <input type="password" id ="PW" name="LN"><br>
                <button type= "submit" id="SM" name = "SM">Submit</button>
                <button type="button" id="GotoReg" name = "GotoReg" onclick="location.href='Registration';">Register</button>
        </form>
    </body>
</html>