<!DOCTYPE html>
<html>
    <head>
        <title>Midterm Register</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <form>
            <div class="center">
                <label for="FN">First Name</label>
                <input type="text" id ="FN" name="FN"><br>
                <label for="LN">Last Name</label>
                <input type="text" id ="LN" name="LN"><br>
                <label for="UN">User Name</label>
                <input type="text" id ="UN" name="UN"><br>
                <label for="PW">Password</label>
                <input type="password" id ="PW" name="PW"><br>
                <button type= "submit" id="SM" name = "SM">Submit</button>
                <button type="button" id="BacktoIndex" name= "BacktoIndex" onclick="location.href='/';">Back</button>
            </div>
        </form>
    </body>
</html>